<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
     
      Liste des taches
    </c-card-header>
    <c-card-body>
      <p></p>
      <table class="table">
        <thead>
          <tr>
            <th>
              Nom
            </th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h3><code class="c-highlighter-rouge">tache 1</code></h3>
            </td>
            <td><p>Description<p></td>
          </tr>
          <tr>
            <td>
              <h3><code class="c-highlighter-rouge">tache 2</code></h3>
            </td>
            <td><p>Description</p></td>
          </tr>
         
        </tbody>
      </table>
    </c-card-body>
  </c-card>

</div>
